#include <windows.h>
#include "resource2.h"

IDD_DIALOG2 DIALOGEX 0, 0, 180, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Second window"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON "Back", ID_BACK_BTN, 20, 60, 45, 14
    PUSHBUTTON "Next", ID_NEXT_BTN, 75, 60, 45, 14
    PUSHBUTTON "Cancel", IDCANCEL, 130, 60, 45, 14
END