#include <windows.h>
#include "resource1.h"

IDD_DIALOG1 DIALOGEX 0, 0, 180, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "First window"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON "Next", ID_NEXT_BTN, 30, 60, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 100, 60, 50, 14
END